$dark: var(--dark)
$light: var(--light)
$color: var(--color)
$color-accent: var(--color-accent)
$color-highlight: var(--color-highlight)
$blue: var(--blue)
$blue-accent: var(--blue-accent)
$blue-highlight: var(--blue-highlight)
$light-blue: var(--light-blue)
$light-blue-highlight: var(--light-blue-highlight)
$text-color: var(--text-color)
$gray: var(--gray)