.hero-page
    position: relative
    min-height: 100vh

    background: transparent var(--tex-biColorBackground) no-repeat
    background-size: 100% 100%
    background-position: bottom
    background-attachment: fixed

    +media-desktop
        background-size: cover

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0

        background: transparent
        background-repeat: no-repeat
        background-image: var(--hero-silhouette)
        background-size: contain
        background-position: bottom

        +media-mobile
            background-position: center
            background-attachment: fixed

    > *
        z-index: 1
        

    nav
        position: fixed
        top: 0
        
        width: 100%
        height: 65px
        padding: 0 20px
        color: $light

        display: flex
        justify-content: center
        align-items: center
        gap: 0px

        z-index: 10
    
        +media-desktop
            top: 20px
            width: fit-content
            padding: 0 30px 0 50px

            justify-content: start
            gap: 70px

        +media($minmax: 'min', $size: '1349px')
            padding: 0 0 0 50px

        &::before
            content: ""
            position: absolute
            top: 0
            left: -10px
            right: 0
            height: 100%

            background: $blue-accent var(--tex-barBackground) no-repeat
            background-size: cover
            background-position: bottom

            +media-desktop
                background-position: bottom right

                mask: var(--tex-barBackgroundMask) no-repeat
                mask-size: cover
                mask-position: bottom right

        > *
            z-index: 2

        .head
            width: 100%
            height: 100%
            display: flex
            justify-content: space-between
            align-items: center
            gap: 70px

            +media-desktop
                width: auto
                justify-content: start
        .menu
            width: 35px
            height: 25px

            display: flex
            justify-content: center
            align-items: center

            overflow: visible

            cursor: pointer

            +media($minmax: 'min', $size: '1349px')
                display: none

            .menu-icon
                display: block
                user-select: none
                -webkit-user-drag: none

                height: 100%

            .warning-bubble
                top: -3px
                right: -3px

        .title
            position: relative
            display: flex
            align-items: center
            gap: 20px

            h1
                display: inline-block
                font-family: MarvelRivalsHeavy
                font-weight: normal
                font-style: italic
                font-size: 22px
                line-height: 22px
                text-transform: uppercase

                text-align: center

                +media-desktop
                    font-size: 36px
                    line-height: 32px
                    text-align: left

            .favourite
                flex-shrink: 0
                position: absolute
                right: 0
                transform: translateX(calc(100% + 10px))

        ul
            height: 100%
            display: none

            +media($minmax: 'max', $size: '1350px')
                position: absolute
                top: 65px
                left: 0

                width: 100%
                height: 200px

                flex-direction: column

                background: $blue-accent var(--tex-barBackground)
                background-position: bottom

            @media (min-width: 992px) and (max-width: 1350px)
                top: 64.5px
                width: calc(100% - 18.5px)

            +media($minmax: 'min', $size: '1350px')
                display: flex !important

            &.visible
                display: flex
                align-items: center

                li
                    width: fit-content

                    &::after
                        // background-size: auto 100%

                        z-index: 2

            li
                position: relative
                min-width: 85px
                height: 100%
                padding: 0 40px 0 48px

                display: flex
                justify-content: center
                align-items: center
                gap: 20px

                color: $light
                font-family: MarvelRivalsBold
                font-size: 22px
                text-transform: uppercase

                box-sizing: content-box
                cursor: pointer
                user-select: none

                &::after
                    content: ""
                    position: absolute
                    top: 0
                    left: -2px
                    bottom: 0
                    right: -2px

                    display: none
                    background: transparent var(--tex-tabStraight) no-repeat
                    background-size: 100% 100%
                    background-position: center

                    transform: skew(-15deg)

                &:first-of-type::after
                    +media($minmax: 'min', $size: '1350px')
                        left: 0
                &:last-of-type::after
                    +media($minmax: 'min', $size: '1350px')
                        right: 9px
                &.new::after
                    +media($minmax: 'max', $size: '1350px')
                        background-size: 90% 100%
                        background-position: 80%

                &:hover
                    color: #fff

                &:active
                    &::after
                        background: transparent var(--tex-tabStraight-active) no-repeat
                        background-size: 100% 100%
                        background-position: bottom

                        display: block

                &.selected
                    color: $color

                    &::after
                        display: block

                &.warning-wrapper
                    .warning-bubble
                        top: 50%
                        right: -5px
                        transform: translate(-100%, -100%)

                .new
                    display: inline-block
                    padding: 1px 10px

                    background: var(--tex-tab-active)
                    background-size: 100% 100%

                    display: flex
                    justify-content: center
                    align-items: center

                    font-family: MarvelRivalsHeavy
                    font-size: 16px
                    color: $text-color

    main
        display: flex
        flex-direction: column

        overflow-x: clip

        +media-desktop
            height: 100vh

            display: grid
            grid-template-columns: 1fr 2fr
            grid-template-rows: 100vh

            overflow: clip

        .hero
            position: relative
            width: 100%

            height: 700px

            overflow: visible

            +media-desktop
                height: 100%

            .prestige
                position: relative
                width: 100%
                height: 100%

                user-select: none
                -webkit-user-drag: none

                .prestige-bg
                    position: absolute
                    top: 0
                    left: 50%
                    transform: translateX(-50%)
                    width: 600px
                    height: 100%

                    +media-height($minmax: 'max', $size: 880px)
                        overflow: clip
                    +media-mobile
                        overflow: clip

                    .prestige-bg-left,
                    .prestige-bg-center,
                    .prestige-bg-right
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%

                        +media-height($minmax: 'max', $size: 880px)
                            height: 880px
                        +media-mobile
                            height: 880px

                .logo
                    position: absolute
                    top: -20px
                    left: 50%
                    transform: translateX(-50%)

                    width: 400px
                    height: 400px

                    object-fit: contain

                    mask-image: linear-gradient(45deg, rgba(255,255,255, 0), rgba(255,255,255,0.5))

                    pointer-events: none

                    user-select: none
                    -webkit-user-drag: none

                .prestige-img-wrapper
                    position: absolute
                    top: 0
                    left: 50%
                    transform: translateX(-50%)
                    width: 600px
                    height: 100%

                    mask-image: var(--tex-heroPrestigeMask)
                    mask-repeat: no-repeat
                    mask-size: 105%
                    mask-position: 50% calc(100% - 175px)

                    +media-height($minmax: 'max', $size: 880px)
                        mask-position: 50% 75px

                        .prestige-img
                            bottom: unset !important
                            top: 100px

                    +media-mobile
                        mask-position: 50% 45px

                        .prestige-img
                            bottom: unset !important
                            top: 50px

                    .prestige-img
                        position: absolute
                        left: 0
                        bottom: 200px
                        width: 100%

                        user-select: none
                        -webkit-user-drag: none

            > * 
                position: relative
                z-index: 2

            .player-level,
            .achievements-categories
                position: absolute
                bottom: 25px
                right: 50%

                width: 300px

                +media-mobile
                    transform: translateX(50%)

                +media-tablet
                    width: 375px

                +media-desktop
                    width: 300px
                    bottom: 85px
                    right: 0

                +media-large-desktop
                    width: 375px

            .player-level
                padding-left: 50px
                padding-right: 28px
                padding-bottom: 12px

                background: var(--tex-heroProficiencyLevel) no-repeat
                background-size: 100% 100%

                display: grid
                grid-template-columns: 100%
                grid-template-rows: 53px 67px

                z-index: 4
                user-select: none

                +media-phone
                    padding-left: 42px
                    padding-right: 22px

                > .popup
                    position: absolute
                    top: 0
                    left: 20px
                    transform: translateY(-100%)

                    width: calc(100% - 10px)
                    padding: 40px 35px 50px 35px

                    +media-phone
                        padding: 50px 35px 60px 35px
                        height: auto

                    .message
                        p
                            text-align: center
                            line-height: 16px
                            font-size: 18px
                            margin-bottom: 6px

                            span
                                color: #c09b07

                .current
                    position: relative
                    display: flex
                    justify-content: space-between
                    align-items: center

                    cursor: pointer

                    &:hover
                        &::before
                            content: ""
                            position: absolute
                            top: 0
                            left: 50%
                            width: calc(100% + 44px)
                            height: 100%

                            transform: translateX(-50%) skew(4deg)

                            backdrop-filter: brightness(1.2)

                            z-index: -1

                            +media-mobile
                                left: calc(50% - 4px)
                                width: calc(100% + 52px)
                                transform: translateX(-50%) skew(2.5deg)

                            +media-tablet
                                left: calc(50%)
                                width: calc(100% + 44px)
                                transform: translateX(-50%) skew(4deg)

                            +media-desktop
                                left: 50%
                                width: calc(100% + 52px)
                                transform: translateX(-50%) skew(2.5deg)

                            +media-large-desktop
                                width: calc(100% + 44px)

                        .rank
                            color: $light-blue

                            .icon
                                img
                                    filter: brightness(1.4)

                    .rank h2,
                    .level
                        font-size: 28px
                        font-family: MarvelRivalsBold
                        font-weight: normal
                        text-transform: uppercase
                        font-style: italic

                    .rank
                        height: 100%
                        display: flex
                        align-items: center
                        gap: 10px

                        color: $dark

                        +media-phone
                            gap: 0

                        .icon
                            width: 45px
                            height: 100%

                            display: flex
                            justify-content: center
                            align-items: center

                            img
                                display: block
                                width: 75px

                                pointer-events: none
                                user-select: none
                                -webkit-user-drag: none

                    .level
                        display: flex
                        align-items: center
                        gap: 5px

                        color: $light-blue-highlight
                        user-select: none

                        +media-phone
                            gap: 0

                        &.can-level-up:hover
                            color: #ebb72a

                            .texture
                                ::v-deep(.tex-image)
                                        background: #ebb72a

                .bottom
                    align-self: end
                    width: 100%

                    display: grid
                    grid-template-columns: auto 40px
                    gap: 10px

                    .points
                        width: 100%

                        display: flex
                        flex-direction: column
                        gap: 4px

                        cursor: pointer

                        .point-count
                            display: flex
                            align-items: center
                            gap: 5px

                            p
                                font-family: MarvelRivals
                                font-size: 26px
                                color: $light

                                span
                                    color: $light-blue-highlight

                    .set
                        align-self: end
                        position: relative
                        display: flex
                        justify-content: center
                        align-items: center

                        .popup
                            position: absolute
                            top: 0
                            right: 0
                            transform: translate(60px, -100%)

                            // text-align: center

                            +media-mobile
                                width: 200px
                                height: 150px

                                font-size: 20px

                            +media-desktop
                                width: 300px
                                height: 150px
                                padding: 30px 40px 60px 40px

                                transform: translate(90px, -100%)

            .achievements-categories
                height: fit-content
                
                display: flex
                flex-direction: column
                gap: 5px

                .category
                    position: relative
                    display: grid
                    grid-template-columns: 67px auto
                    align-items: center

                    cursor: pointer
                    user-select: none

                    background: #f0f4fc

                    &:not(.selected):hover
                        .icon
                            background: var(--tex-listItemIconHover) no-repeat
                            background-size: 100% 100%
                            border: 3px solid #fff

                        .name
                            background: var(--tex-listItemHover) no-repeat
                            background-size: 100% 100%


                    &.selected
                        &::before
                            display: block

                        .icon
                            background: var(--tex-listItemIconSelected) no-repeat
                            background-size: 100% 100%

                            border: 3px solid $color

                        .name
                            background: var(--tex-listItemSelected) no-repeat
                            background-size: 100% 100%

                            color: $color

                    &::before
                        content: ""
                        position: absolute
                        top: 0
                        left: -13px

                        width: 10px
                        height: 100%

                        background: var(--tex-listItemDecorationSelected) no-repeat
                        background-size: 100% 100%

                        display: none

                    .icon,
                    .name
                        width: 100%
                        height: 100%

                        display: flex
                        align-items: center

                    .icon
                        background: #909dc1

                        border: 3px solid transparent
                        border-right: none !important

                    .name
                        padding: 10px 10px 10px 15px

                        h4
                            font-family: MarvelRivalsBold
                            font-size: 22px
                            text-transform: uppercase

        .content
            margin: 0 0 60px 0

            width: 100%
            height: auto
            justify-self: center

            background: $light var(--tex-whiteBackground) no-repeat
            background-size: cover

            z-index: 2

            +media-desktop
                width: 95%
                margin: 40px + 65px 0 0 0
                height: calc(100% - 40px - 65px - 20px)

            +media-large-desktop
                width: 80%
                height: calc(100% - 40px - 65px - 85px)

            &.planner-wrapper,
            &.update-stats
                display: flex
                justify-content: center
                align-items: center

            &.cosmetics-wrapper
                padding: 20px

                +media-desktop
                    overflow-x: hidden
                    overflow-y: auto
                    +scrollbar($background: $light, $thumb: $light-blue, $active: $color)

                .cosmetics-controls
                    display: flex
                    flex-wrap: wrap
                    align-items: center
                    gap: 20px
                    margin-bottom: 20px

                    .owned-count
                        margin-right: auto
                        font-family: MarvelRivalsBold
                        font-size: 28px
                        text-transform: uppercase
                        color: $light-blue-highlight

                        

                .list
                    width: 100%
                    display: flex
                    flex-direction: column
                    flex-wrap: nowrap
                    align-items: center
                    gap: 20px

                    +media-tablet
                        flex-direction: row
                        justify-content: flex-start
                        flex-wrap: wrap
                        align-items: start

            .update-stats-modal
                max-height: 100%

            .tabbed-container
                width: 100%
                height: 100%

                &[data-current-tab="rewards"]
                    ::v-deep(.tab-container)
                        display: flex
                        flex-direction: column
                        align-items: center

                        padding-bottom: 40px

                        .rewards
                            +media-mobile
                                padding: 20px 10px

                        > p
                            color: $light-blue
                            font-size: 14px
                            margin-bottom: 10px

                &[data-current-tab="missions"]
                    ::v-deep(.tab-container)
                        height: 100%

                &[data-current-tab="stats"]
                    ::v-deep(.tab-container)
                        width: 100%
                        display: flex
                        justify-content: center
                        align-items: center
                        padding: 20px

                        .stats-container
                            width: 100%
                            display: flex
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            gap: 20px

                            h2
                                font-size: 28px
                                text-transform: uppercase
                                text-align: center
                                color: $blue

                            h3
                                font-size: 22px
                                text-transform: uppercase
                                text-align: center
                                color: $light-blue

                                span
                                    color: $blue

                            .stats
                                max-width: 450px
                                position: relative
                                padding: 20px

                                display: grid
                                grid-template-columns: 1fr 1fr
                                justify-content: center
                                align-items: center
                                gap: 20px

                                +media-mobile
                                    max-width: 100%
                                    gap: 10px

                                li
                                    min-width: 110px

                                    display: flex
                                    flex-direction: column
                                    justify-content: center
                                    align-items: center

                                    img
                                        width: 70px

                                        user-select: none
                                        -webkit-user-drag: none

                                        margin-bottom: 15px

                                    p
                                        color: $light-blue
                                        font-size: 20px
                                        font-family: MarvelRivalsHeavy
                                        text-transform: uppercase
                                        text-align: center

                                        +media-mobile
                                            font-size: 18px

                                        &.stat-value
                                            width: 100%
                                            text-align: center
                                            font-size: 30px
                                            color: $blue

                                            background: var(--tex-tab-active) no-repeat
                                            background-size: 100% 100%

                                            padding: 0 30px 0 30px

                                            +media-mobile
                                                font-size: 26px
                                                padding: 0

            ::v-deep(.tab-container)
                width: 100%

                +media-desktop
                    height: 100%

                    overflow-x: hidden
                    overflow-y: auto
                    +scrollbar($background: $light, $thumb: $light-blue, $active: $color)