main
    width: 100%
    min-height: 100vh

    display: flex
    justify-content: center
    align-items: start

    background: var(--tex-darkBackground)
    background-size: 100% 100vh
    background-attachment: fixed

    padding: 20px

    +media-desktop
        padding: 50px

    .container
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 20px

        .title
            position: relative
            width: 100%
            
            .back
                position: absolute
                left: 0
                top: 50%

                transform: translateY(-50%)

        h1
            font-size: 45px
            text-transform: uppercase
            text-align: center
            color: $light

            padding: 0 60px

            +media-desktop
                font-size: 55px