.calculator
    position: relative
    width: 100%
    height: 100%

    padding: 30px 20px 80px 20px

    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    gap: 60px

    overflow-x: hidden
    overflow-y: auto

    +media-desktop
        padding: 30px 20px 30px 20px
        gap: 20px

    &:not(.advanced)
        .time
            &.conservative,
            &.optimistic
                display: none

            &.avg
                --font-size: 78px !important

                +media-desktop
                    --font-size: 58px !important

                +media-ml-desktop
                    --font-size: 78px !important

        .total
            .column
                &:not(:last-of-type)::after
                    +media-desktop
                        height: 80%

    .title
        font-family: RefrigeratorDeluxeBold
        font-size: 28px
        text-align: center

    .time
        font-size: 22px
        font-family: RefrigeratorDeluxeBold
        text-align: center

        &.conservative
            color: #98680e
        &.avg
            color: #558e1e
            font-size: 32px
        &.optimistic
            color: #225cb3

    .total-title
        color: $light-blue

        .level
            color: $light-blue-highlight

    .total
        display: flex
        flex-direction: column
        justify-content: center
        gap: 60px

        +media-desktop
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            gap: 20px

        .column
            position: relative

            padding: 0 30px

            display: flex
            flex-direction: column
            gap: 10px

            +media-desktop
                width: 170px
                padding: 0 15px

            +media-ml-desktop
                width: 245px
                padding: 0 30px

            &:not(:last-of-type)::after
                content: ""
                position: absolute
                bottom: -30px
                right: 50%
                transform: translateX(50%)

                width: 100%
                height: 2px

                background: $light-blue-highlight

                +media-desktop
                    bottom: 50%
                    right: -10px
                    transform: translateY(50%)

                    width: 2px
                    height: 50%

            .title
                width: 100%

                font-size: 24px
                font-family: RefrigeratorDeluxeHeavy
                font-weight: normal
                text-align: center
                text-transform: uppercase
                color: $light-blue

                .texture
                    width: 35px
                    display: inline-block

            .time
                &.conservative,
                &.optimistic
                    --font-size: 40px

                    +media-desktop
                        --font-size: 38px

                    +media-ml-desktop
                        --font-size: 38px

                &.avg
                    --font-size: 68px

                    +media-desktop
                        --font-size: 48px

                    +media-ml-desktop
                        --font-size: 68px

                &.conservative,
                &.optimistic,
                &.avg
                    font-size: var(--font-size)

                    p:not(.desc),
                    > div
                        line-height: calc(var(--font-size) - 10px)

                &.avg
                    p:not(.desc),
                    > div
                        line-height: calc(var(--font-size) - 15px)

                .desc
                    font-size: 18px
                    text-transform: uppercase
                    color: $light-blue-highlight

                .with-points
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    gap: 0px

                    .points
                        display: flex
                        align-items: center
                        gap: 5px

                        font-size: 18px
                        // color: $color
                        line-height: 25px


    .time-table-wrapper
        width: auto
        max-width: calc(100% - 40px)
        height: 170px

        overflow: visible

        +media-desktop
            width: auto
            max-width: 450px
        
        +media-ml-desktop
            max-width: 700px

        &.ranks-enter-active,
        &.ranks-leave-active
            transition: height .3s ease
            overflow: hidden

        &.ranks-enter-from,
        &.ranks-leave-to
            height: 0px

    .time-table
        width: auto

        display: flex
        justify-content: start
        gap: 10px

        user-select: none

        li
            flex-shrink: 0
            width: 200px
            height: 140px

            display: flex
            align-items: end
            gap: 10px

            cursor: pointer

            &:hover,
            &.selected
                .time
                    &.conservative
                        color: oklch(from #98680e calc(l + 0.08) calc(c + 0.10) h)
                    &.avg
                        color: oklch(from #558e1e calc(l + 0.08) calc(c + 0.10) h)
                    &.optimistic
                        color: oklch(from #225cb3 calc(l + 0.08) calc(c + 0.10) h)

                .icon
                    img
                        filter: brightness(1.4)

                    .level
                        background: $light

                .progress
                    .bar
                        background: oklch(from var(--color) calc(l + 0.08) calc(c + 0.10) h)

            &.dimmed:not(:hover)
                .time
                    &.conservative
                        color: color-mix(in srgb, #98680e 50%, gray)
                    &.avg
                        color: color-mix(in srgb, #558e1e 50%, gray)
                    &.optimistic
                        color: color-mix(in srgb, #225cb3 50%, gray)

                .icon
                    img
                        filter: grayscale(0.7)

                    .level
                        border: 2px solid color-mix(in srgb, $light-blue-highlight 50%, gray)
                        color: color-mix(in srgb, $blue-highlight 50%, gray)

                .progress
                    .bar
                        background: color-mix(in srgb, var(--color) 60%, gray)

            &.times-enter-active
                transition: all .5s ease
                transition-delay: calc(var(--index) * 0.2s)

                .icon
                    img,
                    .level
                        transition: all .5s ease
                        transition-delay: calc(var(--index) * 0.2s)

                .progress
                    .completed
                        .check
                            transition: all .5s ease
                            transition-delay: calc(var(--index) * 0.2s + 0.1s)

                    .times .time,
                    .per-level
                        transition: all .5s ease
                        transition-delay: calc(var(--index) * 0.2s + 0.1s)

                        &.avg
                            transition-delay: calc(var(--index) * 0.2s)

                    .bar
                        transition: all .5s ease
                        transition-delay: calc(var(--index) * 0.2s)

            &.times-leave-active
                transition: all 0s

            &.times-enter-from
                width: 200px

                .icon
                    img
                        transform: scale(1.8)
                        opacity: 0
                        filter: blur(1px)

                    .level
                        transform: translateY(50px)
                        opacity: 0

                .progress
                    .completed
                        .check
                            transform: scale(2.2) translateY(20px)
                            opacity: 0

                    .times,
                    .per-level
                        .avg,
                        &.avg
                            transform: scale(2.2) translateY(20px)
                            opacity: 0
                            // filter: blur(1px)

                            color: var(--color)

                        .time:not(.avg):first-of-type
                            transform: translateY(5px)
                            opacity: 0
                        .time:not(.avg):last-of-type
                            transform: translateY(-5px)
                            opacity: 0

                    .bar
                        width: 0%

            &.last
                width: fit-content

                .progress
                    width: fit-content

            .icon
                width: 32px

                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                gap: 0px

                img
                    display: block
                    width: 45px
                    height: 45px

                    object-fit: cover
                    user-select: none
                    -webkit-user-drag: none

                .level
                    width: 100%

                    border: 2px solid $light-blue-highlight
                    user-select: none

                    text-align: center

                    font-size: 18px
                    font-family: RefrigeratorDeluxeBold
                    font-weight: normal
                    color: $blue-highlight

            .progress
                width: 100%
                display: flex
                flex-direction: column
                align-items: center
                gap: 10px

                .times
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center

                    .time
                        line-height: 24px

                .completed
                    display: flex
                    justify-content: center
                    align-items: center

                    + .bar
                        margin-bottom: 45px

                .bar
                    width: 100%
                    height: 8px

                    background: var(--color)
                    
                .per-level
                    width: 100%
                    height: 45px - 10px
                    text-align: center

                    font-size: 22px

                    span
                        font-size: 18px
                        color: $light-blue


    .scroll-indicator
        display: none

        +media-desktop
            display: flex
            align-items: center
            gap: 10px

            user-select: none

            img
                display: block
                width: 32px

                -webkit-user-drag: none

            p
                font-family: RefrigeratorDeluxeBold
                font-size: 20px
                text-transform: uppercase

                color: $light-blue

    .scroll-missing
        width: 100%
        height: 50px

    .advanced
        position: absolute
        bottom: 20px
        right: 50%
        padding: 3px 7px
        transform: translateX(50%)

        display: flex
        align-items: center

        font-family: RefrigeratorDeluxeBold
        font-size: 20px
        text-transform: uppercase
        color: $blue

        border: 2px solid transparent

        cursor: pointer
        user-select: none

        +media-desktop
            bottom: 30px
            right: 20px
            transform: none

            &:hover
                color: $light-blue

                .texture
                    --tex-color: #{$light-blue} !important 

        &.active
            border: 2px solid $light-blue-highlight
            background: color-mix(in srgb, $light-blue-highlight 60%, white)


