.lightbox-wrapper
    position: fixed
    top: 0
    left: 0

    width: 100%
    height: var(--u100vh)
    
    background: #1b172eaf
    backdrop-filter: blur(5px)

    display: flex
    justify-content: center
    align-items: center

    z-index: 21

    cursor: zoom-out

    img
        width: 90%
        height: 90%

        object-fit: contain

.log.theme-light .commit-info
    color: #babfdc

    ::v-deep(h3)
        color: #fff

.commit-info
    color: $light-blue

    ::v-deep(h3)
        color: $text-color
        font-size: 22px

    ::v-deep(a)
        text-decoration: underline

.commit-sha
    background: $color
    padding: 3px 10px 3px 10px
    font-family: RefrigeratorDeluxeHeavy
    color: $blue

    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2)
    cursor: pointer

    &:hover
        text-decoration: underline

@mixin grid-spacing
    display: grid
    grid-template-columns: 100%

    +media-tablet
        grid-template-columns: 200px 450px
        max-width: unset
        gap: 0

    +media-desktop
        grid-template-columns: 200px 600px

    +media-large-desktop
        grid-template-columns: 200px 700px

.log
    display: flex
    flex-direction: column
    gap: 60px

    &.theme-light
        .log-entry
            .version
                p
                    color: $light-blue-highlight

            .body
                h2
                    color: #fff

                h3
                    color: $light

                p
                    color: #babfdc

                .changes li
                    color: #babfdc

                .commit
                    h3
                        .texture
                            --tex-color: #{$light} !important

    .commits-wrapper

        .commits
            display: flex
            flex-direction: column
            gap: 20px
        
            .commit
                padding: 0 20px
                max-width: 600px
                gap: 20px

                +grid-spacing

                .meta
                    justify-self: center
                    align-self: start

                    display: flex
                    flex-direction: column
                    justify-content: start
                    align-items: center
                    gap: 10px

                    .sha
                        font-size: 16px
                        color: $blue

                    p
                        font-size: 16px
                        color: $blue

                    .tag
                        background: $color
                        padding: 3px 10px 3px 10px
                        font-family: RefrigeratorDeluxeHeavy
                        color: $blue

                        box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2)


    .log-entry
        padding: 0 20px
        max-width: 600px
        gap: 20px

        +grid-spacing

        .version
            display: flex
            flex-direction: column
            justify-content: start
            align-items: center
            gap: 10px
            
            h3
                background: var(--tex-promoHeroNameplate) center no-repeat
                background-size: 100% 70%
                padding: 5px 20px 9px 20px

                font-size: 28px
                color: $blue

            p
                font-size: 18px
                color: $blue

            .tag
                background: $color
                padding: 3px 10px 3px 10px
                font-family: RefrigeratorDeluxeHeavy
                color: $blue

                box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2)

        .body
            width: 100%
            display: grid
            grid-template-columns: 100%
            grid-auto-rows: auto

            h2
                font-size: 44px
                text-transform: uppercase
                color: $text-color

                margin-bottom: 20px

            h3
                font-size: 28px
                text-transform: uppercase
                color: $blue

                margin-bottom: 10px

            p
                font-size: 18px
                color: $blue-accent
                text-align: justify

                margin-bottom: 30px

            .button
                justify-self: end

                span
                    display: block
                    width: 100%
                    display: flex
                    align-items: center

                    .texture
                        margin-right: 0

            .changes
                list-style-type: disc

                margin-bottom: 40px

                li
                    margin-left: 30px
                    color: $blue-accent
                    text-align: justify

            .images
                width: 100%
                display: flex
                flex-direction: column
                gap: 20px

                &.presentation
                    li
                        img
                            max-height: 300px
                            object-fit: cover

                li
                    width: 100%

                    cursor: pointer

                    img
                        width: 100%