.hero-list
    position: relative
    width: 100%

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 20px

    .tools
        position: sticky
        top: 10px
        width: 100%
        display: flex
        justify-content: space-between

        z-index: 10

        +media-mobile
            gap: 20px
            flex-direction: column

        &.sticky

            &.mobile
                transform: translateY(calc(-100% - 20px))
                transition: transform .2s ease

                &.sticky-mobile-show
                    transform: translateY(0%)
            
            &::before
                content: ""
                position: absolute
                top: -10px
                left: -20px
                right: -20px
                bottom: -10px

                background: $blue

                z-index: -1

                +media-desktop
                    left: -50px
                    right: -50px

            .back-button
                +media-desktop
                    display: flex
                    justify-content: center
                    align-items: center
                    margin-right: 20px

        .back-button
            display: none

        .search
            position: relative

            input
                width: 100%
                height: 60px
                padding: 10px 60px 10px 20px
                background: #d6dcee

                border: 3px solid $light-blue-highlight
                outline: none
                
                font-size: 20px
                font-family: KelsonSans

                +media-desktop
                    width: 320px

                +media-large-desktop
                    width: 450px

                &::placeholder
                    color: $light-blue-highlight

                &:focus
                    border: 3px solid #fff

            .texture
                position: absolute
                top: 50%
                right: 20px
                transform: translateY(-50%)


        .filters
            width: 100%
            display: flex
            align-items: center
            justify-content: end
            gap: 10px
            
            +media-mobile
                justify-content: center
                flex-wrap: wrap-reverse

            .checkbox
                height: fit-content

    .list
        width: 100%

        display: flex
        flex-direction: column
        flex-wrap: nowrap
        align-items: center
        gap: 20px

        +media-tablet
            flex-direction: row
            justify-content: center
            flex-wrap: wrap
            align-items: start